@import './partials/params.scss';

.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 960px;
    width: 100%;
    font-size: 11px;

    &__container {
        width: 100%;
        height: 40px;
 

        #toggle {
            display: none;
        }

        span {
            display: none;
        }

        &_menu {
            width: 100%;
            height: 100%;
            border-radius: 4px;
            background-color: $menu-color;
            background-image: linear-gradient(transparent 50%, $gradient-color 50%);
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            &_elem {
                text-transform: uppercase;

                a {
                    color: $text-color;
                    text-decoration: none;
                }
            }
        }
    }

        &__slider {
        width: 100%;
        height: 380px;
        margin: 39px 0 43px 0;
        border: solid 1px $border-slider-color;

        &_image {
            margin: 10px;
            max-width: 940px;
            height: 360px;
            background-image: url(/src/images/autumn.png);
            background-color: $gradient-color;
            background-position: center;

            &_content {
                padding: 220px 30px 0px 30px;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;

                &_overlay {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    max-width: 500px;
                    height: 120px;
                    background-color: $overlay-color;
                    color: $header-text-color;
                    padding: 0 20px;
    
                    &_title {
                        font-size: 20px;
                    }
    
                    &_content {
                        line-height: 20px;
                        font-size: 13px;
                    }
                }
    
                &_arrows {
                    display: flex;
                    width: 50px;
                    height: 50px;
    
    
                    &_left {
                        border-radius: 10px 0 0 10px;
                        width: 25px;
                        height: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: $overlay-color;
                    }
    
                    &_right {
                        border-radius: 0 10px 10px 0;
                        width: 25px;
                        height: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: $overlay-color;
                    }
                }
            }
        }
    }
        
    
    &__shout {
        display: table-cell;
        height: 111px;
        font-size: 19px;
        text-align: center;
        vertical-align: middle;
        border: solid 1px $menu-color;
    }

    &__categories {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 40px 0;
        
        &_elem {
            background-color: $gradient-color;
            height: 380px;
            width: 225px;
            text-align: center;
            margin: 0 10px;
            
            &_top {
                height: 180px;
                width: 100%;
                background-color: $menu-color;
            }

            &_bottom {
                height: 200px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                padding: 0 15px;
                font-size: 15px;

                &_title {
                    font-size: 17px;
                    color: $text-color;
                    text-transform: uppercase;
                }

                &_content {
                    color: $categories-content-color;
                }

                &_more {

                    a {
                        text-decoration: none;
                        color: $categories-more-color;
                    }    
                }
            }
        }
    }
}