@import './partials/mixins.scss';
@import './partials/params.scss';


body {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    align-items: center;
}